@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('../fonts/font-awesome/css/font-awesome.min.css');
* {
    border: red 0.2px solid;
}

hr {
    padding: 0;
    margin: 0;
}

/* -----     html ------ */

html {
    /*background-image: radial-gradient(rgb(30, 44, 70) 70%, gray);*/
    background: rgb(30, 44, 70);
    color: rgba(209, 209, 224, 0.9);
    font-size: 20px;
}

/*  links */

a.selected {
    color: rgb(248, 248, 248);
}

a:link {
    text-decoration: none;
    color: whitesmoke;
}

/* visited link */

a:visited {
    color: rgb(153, 187, 255);
}

/* mouse over link */

ul li a:hover {
    color: rgb(248, 248, 248);
    text-shadow: 2px 2px 4px black, 5px 5px 25px gray, 2px 2px 5px lightblue;
}

/* selected link */

a:active {
    font-weight: bold;
    color: rgb(30, 44, 70);
}



/* -----     body ------ */

.h1div img {
    filter: opacity(0.8);
    position: absolute;
    top: 31px;
    right: 13%;
    width: 15%;
}

.bodycontainer {
    display: block;
    padding: 0 10%;
    font-family: 'Indie Flower', cursive;
    font-size: 1rem;
    margin: 0;
}

img {
    display: inline-block;
    width: 75%;
}





/* -----     header ------ */

.h1div {
    width: 100%;
    display: inline-block;
}

h1 {
    text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 5px lightblue;
    font-family: Oswald;
    font-size: 42px;
    line-height: 2.5em;
    display: block;
}

/* -----     nav ------ */

nav ul {

    background-color: #141E30;
    margin: 0;
    padding: 0;
}

nav li {
    background-color: #141E30;
    text-align: center;
    padding: 0px 2px;
    margin: 2px 2px;
}

nav a,
nav a:visited {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    position: relative;
}


nav a.selected:after {
    position: absolute;
    right: 20px;
    top: 8px;
    font-family: 'FontAwesome';
    content: "\f105";
    font-size: 25px;
}

nav a.selected:before {
    position: absolute;
    left: 20px;
    top: 8px;
    font-family: 'FontAwesome';
    content: "\f104";
    font-size: 25px;
}

/* -----     main ------ */

p::first-letter {
    color: white;
    font-size: xx-large;
}

main {
    display: block;
}

.fieldset {
    display: block;
    margin: 0 20px;
}

.iframe {

    width: auto;
    padding: 0 3%;
    margin: 0 5%;
}

iframe {
    padding: 0 auto;
    margin: 0 auto;
    display: block;
}

.PHighlight {
    text-shadow: 4px 4px 8px black, 0 0 50px gray, 0 0 10px lightblue;
}

.rannycontact img {
    width: 100%;


}




/*-------- fieldset ------*/

input,
textarea {
    font: 0.8em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

fieldset {
    margin: 0;
}

.Contactname {
    border: solid 0px red;
}

.Contactname label {
    padding-right: 32px;
    padding-left: 10%;
}

.Contactmail label {
    padding-right: 30px;
    padding-left: 10%;
}

.Contactmsg label {
    padding-left: 10%;
}

.Contactmsg {}

input {
    align-content: right;
}

textarea {
    height: 4cm;
    vertical-align: top;
}


/* -----    footer ------ */

.footer {
    display: block;
    text-align: center;
    background-color: #141E30;
    margin: 0;
    padding: 2px 0;

}

#awan {
    color: rgba(209, 209, 224, 0.9);
    ;
    font-family: 'Indie Flower', cursive;
    border-color: rgba(209, 209, 224, 0.9);

}

/* ------ bashar -----*/

.orden {
    text-align: center;
}

.icons {
    padding: 1px;
    width: 100%;
    height: auto;
    text-align: center;
}

.icons img:hover {
    box-shadow: 4px 4px 8px black, 0 0 50px gray, 0 0 10px lightblue;
    width: 80%;
    transition: all 1s ease;
}

.icons a {
    color: black;
    text-decoration: none;
}

.icons i {
    font-size: 90px;
}

.icons h3,
p {
    margin: 0;
}

/* ---------------------  Animation box  -------------------- */

#anim {
    position: absolute;
    width: 328px;
    height: 328px;
    top: calc(50% - 128px);
    left: calc(50% - 128px);
    z-index: -1;
}

.anim.box {
    position: absolute;
    border-width: 128px;
    border-style: dashed;
    border-radius: 70% 30% 95% 15%;
    opacity: 0.4;
}

.anim.one {
    border-color: #FFE13A;
    animation: rotation 10s infinite linear;
}

.anim.two {
    border-color: #72FF3A;
    animation: rotation-rev 3s infinite linear;
}

.anim.three {
    border-color: #25EDA0;
    animation: rotation-rev 7s infinite linear;
}

.anim.four {
    border-color: #5800BC;
    animation: rotation 2s infinite linear;
}

.anim.five {
    border-color: #86009B;
    animation: rotation-rev 3s infinite linear;
}
/* ---------------------  new note gallary photzos ------------------ */


h2,p{
  font-size:100%;
  font-weight:normal;
}
.ulticket,.liticket{
  list-style:none;
}
.ulticket{
  overflow:hidden;
  padding:3em;
}
.ulticket .liticket .aticket{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.ulticket .liticket{
  margin:1em;
  float:left;
}
.ulticket .liticket h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
.ulticket .liticket p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}
.ulticket .liticket .aticket{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
.ulticket .liticket:nth-child(even) .aticket{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.ulticket .liticket:nth-child(3n) .aticket{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
.ulticket .liticket:nth-child(5n) .aticket{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.ulticket .liticket .aticket:hover,.ulticket .liticket .aticket:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
ol{text-align:center;}
ol .liticket{display:inline;padding-right:1em;}
ol .liticket .aticket{color:#fff;}


/* -------------------  footer cloud  ------------------- */

#awan {

    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: #C0DEED;
    background: url(../images/bgdark.png) center top repeat-x;
    padding-top: 100px;
    padding-bottom: 10px;
    width: 100%;
    height: 135px;
    animation: awan-animasi 10s linear infinite;
    -ms-animation: awan-animasi 10s linear infinite;
    -moz-animation: awan-animasi 10s linear infinite;
    -webkit-animation: awan-animasi 10s linear infinite;
}

@keyframes awan-animasi {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
    ;
}

@-webkit-keyframes awan-animasi {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
    ;
}

@-ms-keyframes awan-animasi {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
    ;
}

@-moz-keyframes awan-animasi {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
    ;
}

/* ------------- MEDIA Queries ------------- */

@media screen and (max-width: 750px) {
    li {
        display: block;

    }
    nav ul li a {
        width: 90%;
        height: 100%;
        padding: 10px 0;
        margin: 0;
        display: inline-block;
    }


    nav ul li a:hover {
        border-radius: 0;
        width: 90%;
        height: 100%;
        padding: 10px;
        color: rgb(248, 248, 248);
        font-size: 22px;
        font-weight: bold;
        text-shadow: 2px 2px 4px black, 0 0 25px gray, 10 10 5px lightblue;
        box-shadow: 4px 4px 8px black, 0 0 50px gray, 10 10 10px lightblue;

    }
    li:hover {
        color: 0;
        background-color: rgb(30, 44, 70);
    }
    nav ul {

        background-color: rgb(44, 65, 103);
    }
    h1 {
        font-size: 26px;
    }
    p {
        line-height: 1.5em;
    }
    input,
    textarea {
        font: 0.8em sans-serif;
        width: 200px;
        height: 30px;
        box-sizing: border-box;
        border: 1px solid #999;
    }
    .iframe2 {
        display: none;
    }
    .infoss {
        font-size: 16px;
    }
    .nav {
        display: none;
    }
    #burger-nav {
        display: none;
    }
    main {
        margin: 0 0 280px 0;
    }
    ul li a:hover {
        color: rgb(248, 248, 248);
        border-radius: 8px;
        padding: 0 4px;
        margin: 0 4px;
        font-weight: bold;
        font-size: 26px;
        text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 5px lightblue;
        box-shadow: 4px 4px 8px black, 0 0 50px gray, 0 0 10px lightblue;
    }
    #icon1 {
        display: block;
        width: 100%;
    }
    #icon2 {
        display: block;
        width: 100%;
    }

    #icon3 {
        display: block;
        width: 100%;
    }

}


@media screen and (min-width: 750px) {
    li {
        display: inline-block;
        padding: 15px 1%;
        margin: 10px 1%;
    }
    ul {
        text-align: center;
        padding: auto 0;
    }
    .iframe {
        display: none;
    }
    nav a:hover:after,
    nav a.selected:after {
        content: " ";
    }
    nav a:hover:before,
    nav a.selected:before {
        content: " ";
    }
    #burger-menu {
        display: none;
    }
    main {
        margin: 0 0 100px 0;
    }
    img {
        width : auto;
        height: auto;
    }
        #icon1 {
        display: inline-block;
        width: 100%;
        max-height: 300px;
    }
    #icon2 {
        display: inline-block;
        width: 100%;
    }

    #icon3 {
        display: inline-block;
        width: 100%;
    }
}
